@model IEnumerable<Filmix.Models.ActorModels.Actor>

<div class="table_page">
    <h1>Редактор актеров</h1>

    <table class="table">
        <thead>
             <tr>
                <th>Имя</th>
                <th>Slug</th>
                <th>Дата рождения</th>
                <th>Место рождения</th>
                <th>Рост</th>
                <th>Кол-во фильмов</th>
                <th>Жанры</th>
                <th>Фильмы</th>
             </tr>
        </thead>
        @foreach(var actor in Model)
        {
            <tr onclick="window.location.href='/Content/EditActor/@actor.Id';return false">
                <td>@actor.Name</td>
                <td>@actor.Slug</td>
                <td>@actor.DateBirth</td>
                <td>@actor.PlaceBirth</td>
                <td>@actor.Height</td>
                <td>@actor.FilmCount</td>
                <td>@actor.Genres</td>
                <td>
                    @foreach(var film in @actor.Films)
                    {
                        <p>@film.Name</p>
                    }
                </td>
            </tr>
        }

    </table>
    <div class = "table_buttons">
        <a class="add_button" asp-action="AddActor" asp-controller="Content">Добавить актера</a>

        <a class="back_button" asp-action="Home" asp-controller="Content">Назад</a>
    </div>
</div>