@model IEnumerable<Filmix.Models.ActorModels.FilmInActorViewModel>

@{
    ViewBag.Title = $"Фильмы актера {ViewBag.Name}";
}

<div class="change_form">

<h1>Изменение фильмов актера @ViewBag.Name</h1>
<form method="post" asp-action="ChangeFilmsInActor" asp-controller="Content" asp-route-ActorId="@ViewBag.Id">
    <div class="checkbox_container">
    @foreach(var film in Model)
    {
        <div>
            @if(film.IsInActor)
            {
                <input id="@film.FilmId" type="checkbox" name="ContainsFilmId" value="@film.FilmId" checked="checked"/>
            }
            else
            {
                <input id="@film.FilmId" type="checkbox" name="ContainsFilmId" value="@film.FilmId"/>  
            }
            <label for="@film.FilmId">@film.FilmName</label>
        </div>
    }
    </div>
    <input class="save_button" type="submit" value="Сохранить"/>

</form>

<a class="form_back_button" asp-action="EditActor" asp-controller="Content" asp-route-Id="@ViewBag.Id">Назад</a>
</div>