@model IEnumerable<Filmix.Models.FilmModels.ActorInFilmViewModel>
@{
    ViewBag.Title = $"Актеры фильма {ViewBag.Name}";
}

<div class="change_form">

<h1>Изменение актеров фильма @ViewBag.Name</h1>
<form method="post" asp-action="ChangeActorsInFilm" asp-controller="Content" asp-route-FilmId="@ViewBag.Id">
    <div class="checkbox_container">
    @foreach(var actor in Model)
    {
        <div>
            @if(actor.IsInFilm)
            {
                <input id="@actor.ActorId" type="checkbox" name="ContainsActorId" value="@actor.ActorId" checked="checked"/>
            }
            else
            {
                <input id="@actor.ActorId" type="checkbox" name="ContainsActorId" value="@actor.ActorId"/>  
            }
            <label for="@actor.ActorId">@actor.ActorName</label>
        </div>
    }
    </div>
    <input class="save_button" type="submit" value="Сохранить"/>

</form>

    <a class="form_back_button" asp-action="EditFilm" asp-controller="Content" asp-route-Id="@ViewBag.Id">Назад</a>
    </div>
