@model IEnumerable<Filmix.Models.FilmModels.GenreInFilmViewModel>

@{
    ViewBag.Title = $"Жанры фильма {ViewBag.Name}";
}

<div class="change_form">

<h1>Изменение жанров фильма @ViewBag.Name</h1>
<form method="post" asp-action="ChangeGenresInFilm" asp-controller="Content" asp-route-FilmId="@ViewBag.Id">
   <div class="checkbox_container">
    @foreach(var genre in Model)
    {
        <div>
            @if(genre.IsInFilm)
            {
                <input id="@genre.GenreId" type="checkbox" name="containsGenreId" value="@genre.GenreId" checked="checked"/>
            }
            else
            {
                <input id="@genre.GenreId" type="checkbox" name="containsGenreId" value="@genre.GenreId"/>  
            }
            <label for="@genre.GenreId">@genre.GenreName</label>
        </div>
    }
    </div>
    <input class="save_button" type="submit" value="Сохранить"/>

</form>

<a class="form_back_button" asp-action="EditFilm" asp-controller="Content" asp-route-Id="@ViewBag.Id">Назад</a>
</div>