@model IEnumerable<Filmix.Models.ActorModels.FilmInActorViewModel>

<h1>Добавление фильмов для актера @ViewBag.Name</h1>
<form method="post" asp-action="ChangeFilmsInActor" asp-controller="Content" asp-route-ActorId="@ViewBag.Id">
    @foreach(var film in Model)
    {
        <div>
            @if(film.IsInActor)
            {
                <input id="@film.FilmId" type="checkbox" name="ContainsFilmId" value="@film.FilmId" checked="checked"/>
            }
            else
            {
                <input id="@film.FilmId" type="checkbox" name="ContainsFilmId" value="@film.FilmId"/>  
            }
            <label for="@film.FilmId">@film.FilmName</label>
        </div>
    }
    <input type="submit" value="Сохранить"/>
</form>