@model IEnumerable<Filmix.Models.FilmModels.FilmViewModel>
@{
    ViewBag.Title = "Главная";
}


<div class="film_str">
    @foreach(var film in Model)
    {
         <div class="film_poster">
    <a asp-action="" >
        Подробнее
     </a>
        <img class="film_img" src="~/img/Films/@film.Image">

            <div class="film_description">
                <div class="film_name">
                    <p>@film.Name</p>
                    <h1 id="@film.Name">@film.Rating</h1>
                    <script>setColor('@film.Name')</script>
                </div>

                <div class="film_genre">
                    <p style="font-size: x-large">@film.Year</p>
                    @foreach(var genre in film.GenreNames)
                    {
                        <p>@genre</p>
                    }
                </div>
            </div>
    </div>
    }
</div>



   

