@model Filmix.Models.GenreModels.Genre
@{
    ViewBag.Title = @Model.Name;
}

<div class="genre_name"><h1>@Model.Name</h1></div>

<div class="film_str">
    @foreach(var film in Model.Films)
    {
         <div class="film_poster">
    <a asp-action="Film" asp-route-id="@film.Id">
        Подробнее
     </a>
        <img class="film_img" src="~/img/Films/@film.PosterImage">

            <div class="film_description">
                <div class="film_name">
                    <p>@film.Name</p>
                    <h1 id="film_@film.Id">@film.Rating</h1>
                    <script>setColor('film_@film.Id')</script>
                </div>

                <div class="film_genre">
                    <p style="font-size: x-large">@film.Year</p>
                    @foreach(var genre in film.Genres)
                    {
                        <p>@genre.Name</p>
                    }
                </div>
            </div>
    </div>
    }
</div>