@model IEnumerable<Filmix.Models.FilmModels.FilmViewModel>
@{
    ViewBag.Title = "Filmix";
}


<div class="film_str">
    @foreach(var film in Model)
    {
         <div class="film_poster">
    <a asp-action="Film" asp-route-id="@film.Id">
        Подробнее
     </a>
        <img class="film_img" src="~/img/Films/@film.Image">

            <div class="film_description">
                <div class="film_name">
                    <p>@film.Name</p>
                    <h1 id="film_@film.Id">@film.Rating</h1>
                    <script>setColor('film_@film.Id')</script>
                </div>

                <div class="film_genre">
                    <p style="font-size: x-large">@film.Year</p>
                    @foreach(var genre in film.GenreNames)
                    {
                        <p>@genre</p>
                    }
                </div>
            </div>
    </div>
    }
</div>


 
<video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    poster="~/img/Films/shindler.jpg"
    data-setup="{}"
  >
    <source src="~/mp4/anima.mp4" type="video/mp4" />
    <source src="MY_VIDEO.webm" type="video/webm" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>

  <script src="https://vjs.zencdn.net/7.18.1/video.min.js"></script>

   

