@model IEnumerable<Filmix.Models.FilmModels.FilmViewModel>
@{
    ViewBag.Title = "Filmix";
}


<div class="film_str">
    @foreach(var film in Model)
    {
         <div class="film_poster">
    <a asp-action="Film" asp-route-id="@film.Id">
        Подробнее
     </a>
        <img class="film_img" src="~/img/Films/Poster/@film.Image">

            <div class="film_description">
                <div class="film_name">
                    <p>@film.Name</p>
                    <h1 id="film_@film.Id">@film.Rating</h1>
                    <script>setColor('film_@film.Id')</script>
                </div>

                <div class="film_genre">
                    <p style="font-size: x-large">@film.Year</p>
                    @foreach(var genre in film.GenreNames)
                    {
                        <p>@genre</p>
                    }
                </div>
            </div>
    </div>
    }
</div>


 


   

